:root {
	--primary-color: #4834d4;
	--success-color: #6ab04c;
	--warning-color: #f0932b;
	--danger-color: #eb4d4b;

	--light-color: #212529;
	--light-second-color: #727475;
	--light-background: #ffffff;
	--light-second-background: #f1f1f1;

	--dark-color: #909090;
	--dark-second-color: #f5f6fa;
	--dark-background: #23242D;
	--dark-second-background: #181818;
}

.light {
	--main-bg-color: var(--light-background);
	--second-bg-color: var(--light-second-background);
	--main-color: var(--light-color);
	--second-color: var(--light-second-color);
}

.dark {
	--main-bg-color: var(--dark-background);
	--second-bg-color: var(--dark-second-background);
	--main-color: var(--dark-color);
	--second-color: var(--dark-second-color);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.navbar {
	background-color: #ffffff;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 101;
    box-shadow: rgba(0,0,0,0.12) 0px 1px 4px 1px;
}

.navbar-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.nav-link {
    float: left;
    text-align: center;
    padding: 21px 10px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}

.nav-link:hover {
    cursor: pointer;
}

.nav-link i {
	font-size: 1.4rem;
}

.nav-right {
    margin-left: auto;
}

.search-box {
	width: 100%;
	position: relative;
	display: flex;
	margin-bottom: 5px;
}

.search {
	width: 160px;
	border: 3px solid #576CD9;
	border-radius: 5px 0 0 5px;
	border-right: none;
	padding: 5px;
	height: 36px;
	outline: none;
	color: #9dbfaf;
	margin-left: auto;
}

.search:focus {
	color: #000;
	box-shadow: 0 0 5px #576CD9;
}

.search-btn {
	width: 40px;
	height: 36px;
	border: 1px solid #576CD9;
	background: #576CD9;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}

.navbar-search {
    position: relative;
    margin: auto;
    width: 50%;
}

.navbar-search input {
    background: #f1f1f1;
    border: none;
    padding: 12px 50px 12px 50px;
    width: 100%;
    outline: none;
    border-radius: 20px;

}

.navbar-search i {
    color: #727475;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

.logo {
    width: 60px;
    padding: 10px;
}

.wrapper {
    background: #f1f1f1;    
    margin-left: 82px;
	padding-top: 65px;
	max-width: 100%;
    min-width: auto;
    transition: margin-left .5s;    
}

.sidebar {
    background: white;   
    left: 0;
    width: 82px;
    height: 100vh;
    position: fixed;
    margin-top: 65px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
    overflow: hidden;
    z-index: 100;
    transition: width .5s;
}

.sidebar:hover {
    width: 250px;
}

.sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.sidebar-nav-item {
    width: 100%;
}

.sidebar-nav-link {
    color: gray;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar-nav-link i {
    color: gray;
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sidebar-nav-link div {
    min-width: 82px;
    height: 50px;
    position: relative;
}

.sidebar-nav-link:hover {
    background: #576CD9;
	color: white;
	font-size: 18px;
}

.sidebar-nav-link:hover i {
    background: #576CD9;
	color: white;
	font-size: 1.6rem;
}

.sidebar-nav-link.active {
    background: tomato;
    color: violet;
}

.sidebar-nav-link.active div {
    border-left: 5px solid springgreen;
}

.sidebar-nav-link.active i {
    color: springgreen;
    margin-left: -5px;
}

.sidebar-expand .sidebar {
    width: 250px;
}

.sidebar-expand .wrapper {
    margin-left: 250px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.row:after, .row:before {
	box-sizing: border-box;
}

[class*="col-"] {
	padding: 10px;
}

/* Extra small devices <= 600px */
@media only screen and (max-width: 600px) {
	.sidebar {
		width: 0;
	}
	.wrapper {
		margin-left: 0;
	}
	.sidebar-expand .wrapper {
		margin-left: 0;
	}
	.nav-right .nav-item {
		display: none;
	}
	.nav-right .mode, .nav-right .avt-wrapper {
		display: list-item;;
	}
	.navbar-search {
		display: none;
	}
	.dropdown-menu {
		max-width: 300px;
	}
	[class*="col-"] {
		width: 100%
	}
}

/* Small devices >= 600px */
@media only screen and (min-width: 600px) {
	.col-sm-1 {width: 8.33%;}
	.col-sm-2 {width: 16.66%;}
	.col-sm-3 {width: 25%;}
	.col-sm-4 {width: 33.33%;}
	.col-sm-5 {width: 41.66%;}
	.col-sm-6 {width: 50%;}
	.col-sm-7 {width: 58.33%;}
	.col-sm-8 {width: 66.66%;}
	.col-sm-9 {width: 75%;}
	.col-sm-10 {width: 83.33%;}
	.col-sm-11 {width: 91.66%;}
	.col-sm-12 {width: 100%;}
}

/* Medium devices >= 768px */
@media only screen and (min-width: 768px) {
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
}

/* laptops/desktops >= 992px */
@media only screen and (min-width: 992px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}

/* large laptops and desktops >= 1200px */
@media only screen and (min-width: 1200px) {
	.col-xl-1 {width: 8.33%;}
	.col-xl-2 {width: 16.66%;}
	.col-xl-3 {width: 25%;}
	.col-xl-4 {width: 33.33%;}
	.col-xl-5 {width: 41.66%;}
	.col-xl-6 {width: 50%;}
	.col-xl-7 {width: 58.33%;}
	.col-xl-8 {width: 66.66%;}
	.col-xl-9 {width: 75%;}
	.col-xl-10 {width: 83.33%;}
	.col-xl-11 {width: 91.66%;}
	.col-xl-12 {width: 100%;}
}

.counter {
    background-color: #ffffff;
	padding: 16px;
	text-align: center;
	color: #000000;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card {
	background: var(--main-bg-color);
	color: var(--main-color);
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-header {
	padding: 15px 30px;
	border-bottom: 1px solid var(--second-bg-color);
	position: relative;
}

.card-content {
	padding: 20px;
	overflow-x: auto;
}

.card-header i:hover {
	cursor: pointer;
}

.content-table {
	border-collapse: collapse;
	width: 100%;
	height: 100%;
	font-size: 0.9rem;	
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.content-table thead tr {
    background-color: #576CD9;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th, .content-table td {
    padding: 12px 14px;
}

.content-table tbody tr {
	border-bottom: 1px solid #dddddd;	
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}


.btn-add {
    border: none;
    background-color: #6ab04c;
    color: white;
    border-radius: 5px;
	padding: 5px 10px;
	margin-bottom: 5px;    
}

.btn-add i {
    padding-right: 5px;
}

.btn-add:hover {
    border: none;
    background-color: #5a993f;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn-edit {
    border: none;
    background-color: #f0932b;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn-edit:hover {
    border: none;
    background-color: #d07c1d;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn-delete {
    border: none;
    background-color: #eb4d4b;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn-delete:hover {
    border: none;
    background-color: #d12320;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.content {
	background: #f1f1f1;
}

